<h1> {{ question.question_text }}</h1>

{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="POST" accept-charset="utf-8">
    
    {% csrf_token %}
    
    {% for choice in question.choice_set.all  %}
        <input type="radio" value="{{choice.id}}" name="choice" id="choice{{ forloop.counter }}"/>

        <label for="choice{{forloop.counter}}">{{choice.choice_text}}</label>
        </br>

    {% endfor %}

    <input type="submit" value="Vote" />
</form>
